<div class="col-3">
    <div class="card">
        <div class="card-header">
            <center><img src="../static/assets/img/Theme/avatars/avatar.jpg"
                    class="rounded-circle" width="150px" height="150px"></center>
            <center><label class="card-title" style="font-size:  40px;">Oliver
                    Thomas</label></center>
        </div>
        <div class="card-body">
            <table id="datatables-buttons" class="table table-striped">
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Patient ID</td>
                        <td class="text-primary" style="font-weight: bold;">1002</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Gender</td>
                        <td class="text-primary" style="font-weight: bold;">Male</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Martial Status</td>
                        <td class="text-primary" style="font-weight: bold;">Single</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Phone</td>
                        <td class="text-primary" style="font-weight: bold;">9875645676</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Email</td>
                        <td class="text-primary" style="font-weight: bold;">xyz@gmail.com
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Address</td>
                        <td class="text-primary" style="font-weight: bold;">ABC</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Age</td>
                        <td class="text-primary" style="font-weight: bold;">24</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Guardian name</td>
                        <td class="text-primary" style="font-weight: bold;">dfhshfdhuss</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>







































<table id="datatables-buttons" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Guardian name</th>
            <th>Age</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Martial Status</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ABC</td>
            <td>xyz</td>
            <td>45</td>
            <td>03/4/1975</td>
            <td>Male</td>
            <td>Married</td>
            <td>9563284501</td>
            <td>dfg</td>
            <td>ABC@gmail.com</td>
        </tr>
        <tr>
            <td>ABC</td>
            <td>xyz</td>
            <td>45</td>
            <td>03/4/1975</td>
            <td>Male</td>
            <td>Married</td>
            <td>9563284501</td>
            <td>dfg</td>
            <td>ABC@gmail.com</td>
        </tr>
        <tr>
            <td>ABC</td>
            <td>xyz</td>
            <td>45</td>
            <td>03/4/1975</td>
            <td>Male</td>
            <td>Married</td>
            <td>9563284501</td>
            <td>dfg</td>
            <td>ABC@gmail.com</td>
        </tr>
        <tr>
            <td>MNO</td>
            <td>xyz</td>
            <td>45</td>
            <td>03/4/1975</td>
            <td>Male</td>
            <td>Married</td>
            <td>9563284501</td>
            <td>dfg</td>
            <td>ABC@gmail.com</td>
        </tr>
        <tr>
            <td>ABC</td>
            <td>xyz</td>
            <td>45</td>
            <td>03/4/1975</td>
            <td>Male</td>
            <td>Married</td>
            <td>9563284501</td>
            <td>dfg</td>
            <td>ABC@gmail.com</td>
        </tr>
    </tbody>
</table>